.tos table {
  border-collapse: collapse;
  table-layout: fixed;
}

.tos th,
.tos td {
  border: 1px solid black;
}

.tos td {
  padding: 8px 20px;

  max-width: 180px;
  word-wrap: break-word;
}

.bold {
  font-weight: "bold";
}
